.sky {
  background: deepskyblue;
  width: 100vw;
  height: 40vh;
  overflow: hidden;

  &.height-25 {
    height: 25vh;
  }

  &.height-50 {
    height: 50vh;
  }

  &.no-background {
    background: none;
  }

  &.hide-clouds {
    .cloud {
      display: none;
    }
  }

  &.h-21 {
    height: 21vh;
  }
}

.sky-gradient {
  &.abs {
    position: absolute;
  }

  &.vh-22 {
    height: 22vh;
  }

  width: 100%;
  position: relative;
  height: 40vh;
  transition: box-shadow 150ms;

  &::after {
    content: "";
    position: absolute;
    top: 100%;
    width: 2500%;
    height: 400%;
    background: inherit;
    transform: translateZ(0);
    opacity: 0;
    transition: opacity 0s 1s;
  }
}

.sky-gradient-16 {
  background: linear-gradient(to bottom, #1e528e 0%, #265889 50%, #9da671 100%);
}

.sky-gradient-17 {
  background: linear-gradient(to bottom, #1e528e 0%, #728a7c 50%, #e9ce5d 100%);
}

.sky-gradient-12 {
  background: linear-gradient(to bottom, #90dffe 0%, #38a3d1 100%);
}

.sky.sky--dark {
  background: deepskyblue;
}

.sun {
  opacity: 1;
  box-shadow: 0 0 15px 3px yellow;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 25px;
  right: 15vw;
  animation: sunpulse 2s alternate infinite;
  border-radius: 50%;
  background-image: radial-gradient(circle, #ffd200 95%, #f7971e);
}

@keyframes sunpulse {
  from {
    box-shadow: 0 0 100px #ff0, 0 0 100px #ff0;
  }

  to {
    box-shadow: 0 0 25px #ff0, 0 0 75px #ff0;
  }
}


/* Clouds */

.cloud-wrapper {
  animation: movecloudsoversky 15s linear infinite;
  animation-delay: -1s;
  z-index: 2001;

  &.delay-1 {
    animation-delay: -1s;
  }

  &.delay-2 {
    animation-delay: -6s;
  }
}

.cloud {
  width: 200px;
  height: 60px;
  background: white;
  position: relative;
  border-radius: 200px;
  z-index: 2000;

  &:before {
    content: "";
    background: white;
    position: absolute;
    width: 100px;
    height: 80px;
    top: -15px;
    left: 10px;
    border-radius: 100px;
    transform: rotate(30deg);
  }

  &:after {
    content: "";
    background: white;
    position: absolute;
    width: 100px;
    height: 80px;
    top: -15px;
    left: 10px;
    border-radius: 100px;
    transform: rotate(30deg);
    width: 120px;
    height: 120px;
    top: -55px;
    left: auto;
    right: 15px;
  }
}

.c1 {
  margin-top: -20px;
  animation-delay: 0s;
}

.c2 {
  margin-top: 10px;
  animation-delay: 0s;
}

.c3 {
  margin-top: 5px;
  animation-delay: 0s;
}

@keyframes movecloudsoversky {
  0% {
    transform: translate(-25%, 10vh);
    opacity: 0.8;
  }

  50% {
    opacity: 0.8;
  }

  100% {
    transform: translate(125%, 10vh);
    opacity: 0.4;
  }
}