.scene-blur {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.info-scene {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-image: url('~images/circus-intro.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    color: #000;

    .info-scene__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 2;
        padding: 10px 20px;
        height: auto;
        max-width: 90%;
        width: auto;
        background: rgba(248, 223, 205, 0.8);
        position: relative;
        border: 10px solid red;
        &::before {
            content: '';
            position: absolute;
            left: -7px;
            top: -7px;
            border: 5px dotted #fff;
            width: calc(100% + 4px);
            height: calc(100% + 5px);
        }
    }

    .croco {
        position: absolute;
        bottom: 0;
        left: 60%;
        width: 160px;
        height: auto;
        z-index: 2;

        @media (max-width: 750px) {
            display: none;
        }
    }

    &__title {
        margin: 0;
        text-align: center;
        font-size: 2em;
    }

    &__description {
        width: 100%;
        padding: 0;
        margin: 0;
        line-height: 30px;
        font-size: 1.5em;
        text-align: center;
    }

    &__button {
        margin-top: 20px;
        font-size: 1.5em;
        border-radius: 5px;
        padding: 10px 20px;
        transition: 0.2s all ease;
        color: #FFF;
        background-color: #cf0b0c;
        cursor: pointer;
        z-index: 100;
        &:hover {
            background-color: #cf0003;
            transform: scale(1.05);
        }
    }
}