.decorations {
  display: block;
  width: 100%;
  height: 65vh;

  &.pier {
    display: flex;
    position: absolute;
    height: 300px;
    width: auto;

    &::before {
      content: '';
      width: 200px;
      height: 91px;
      position: absolute;
      left: 35%;
      top: 55px;
      background-image: url('~images/croco-dead.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

  }

  &.decorations-bottom {
    left: 0;
    bottom: 0;
  }

  &.no-height {
    height: auto;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    background: rgb(76, 175, 80);
    background: linear-gradient(90deg, #6abd6d 31%, #57b05a 73%);
    padding: 10px 0;

    .rocks {
      position: absolute;
      left: 0;
      top: 40vh;
      z-index: 5;
      width: 100%;
      height: 100%;

      .rock {
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 50px;
        height: 50px;
        position: absolute;

        &.type-1 {
          background-image: url('~images/rock-1.png');
        }

        &.type-2 {
          background-image: url('~images/rock-2.png');
        }

        &.type-3 {
          width: 180px;
          height: 140px;
          background-image: url('~images/rock-3.png');
        }

        &.p-1 {
          left: 5px;
          top: 20px;
        }

        &.p-2 {
          right: 10px;
          top: 15%;
        }

        &.p-3 {
          left: 36%;
          top: 12%;
        }
      }
    }
  }

  .road {
    display: block;
    width: 100%;
    height: 60px;
    position: relative;
    bottom: 100px;
    margin-top: 15px;
    background-size: 70px;
    background-position: center;
    background-repeat: repeat-x;
    background-image: url('~images/road.svg');
  }

  .factory-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;
    bottom: 100px;
    min-width: 500px;
  }

  .factory {
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
  }

  .factory-2 {
    width: 250px;
    height: 220px;
    background-image: url('~images/factory-2.png');
    background-size: contain;
  }

  .factory-4 {
    width: 210px;
    height: 220px;
    background-image: url('~images/factory-4.png');
    background-size: contain;
    transform: rotateY(180deg);
  }

  .factory-5 {
    width: 236px;
    height: 220px;
    background-image: url('~images/factory-5.png');
    background-size: contain;
  }

  .grass {
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    background-image: url('~images/factory-5.png');
    background-repeat: no-repeat;
    background-position: center;
    z-index: 5;
  }

  .reeds {
    background-image: url('~images/reeds.png');
    background-size: cover;
    bottom: 0;
  }

  .action-icons {
    top: 34%;

    &.fixed-top {
      top: 71%;
    }
  }

  .tree {
    position: absolute;
    top: 185px;
    left: 0;
    width: 350px;
    height: 50px;
    background-image: url('~images/tree.svg');
    background-repeat: repeat-x;
    background-size: contain;
    background-position: center;

    &.type-2 {
      width: 100%;
      top: 261px;
      z-index: 5;
    }
  }
}