.scene-information-popup {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
  opacity: 0;
  transition: 1s all ease;
  z-index: 15;
  visibility: hidden;

  &.active {
    visibility: visible;
    opacity: 1;
  }

  &__wrapper {
    position: relative;
    padding: 15px 10px;
    width: 65%;
    min-width: 320px;
    height: auto;
    text-align: center;
  }

  &__text {
    font-size: 29px;
    border-radius: 10px;
    color: #fff;
    text-shadow: 1px 1px 1px darkblue;
  }

  &__close {
    position: absolute;
    right: 0;
    top: 0;
    width: 17px;
    height: 17px;
    background-image: url('~images/cancel.svg');
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: 0.2s all ease;

    &:hover {
      transform: rotate(90deg);
    }
  }
}