.action-icons {
    position: absolute;
    left: 0;
    top: 84%;
    height: 50px;
    width: 100%;

    display: flex;
    justify-content: space-around;
}
.action-icons .icon-wrapper {
    background-color: #fff;
    padding: 6px;
    border: 1px solid #000;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.action-icons .icon {
    display: block;
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, .5);
    transition: 0.2s all ease;
    z-index: 2;
    border-radius: 50%;
    position: relative;
    cursor: pointer;

    -moz-animation:0.35s scale infinite alternate;
    -webkit-animation:0.35s scale infinite alternate;
}

.action-icons .icon:hover {
    transform: scale(1.15);

    -webkit-animation-play-state:paused;
    -moz-animation-play-state:paused;
    -o-animation-play-state:paused;
    animation-play-state:paused;
    cursor: pointer;
}

.icons-popover {
    display: block;
    position: absolute;
    width: 150px;
    height: auto;
    border-radius: 5px;
    border: 1px solid #666;
    padding: 5px;
    transition: 0.2s all ease;
    transform: translate(-35%,-100%);
    top: -10px;
    background-color: rgba(255, 255, 255, 0.8);
    opacity: 0;
    visibility: hidden;
}

.icons-popover.show {
    opacity: 1;
    visibility: visible;
}

@-moz-keyframes scale {
    from { transform:scale(1) }
    to { transform:scale(1.05); }
}

@-ms-keyframes scale {
    from { transform:scale(1) }
    to { transform:scale(1.05); }
}

@-webkit-keyframes scale {
    from { transform:scale(1) }
    to { transform:scale(1.05); }
}
