@import "css/overlay.css";
@import "css/icons.css";
@import "css/info-scene.css";
@import "css/circus.css";
@import "css/cloud.css";
@import "css/rain.css";

html, body {
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: hidden;
  }

.y-offset {
    position: relative;
    top: -40px;
}

.y-offset-2 {
    position: relative;
    top: -50px;
}

.hidden {
    display: none;
}

button {
    outline: none;
    border: none;
}

button:focus {
    outline: none;
    border: none;
}