@import "styles/overlay";
@import "styles/icons";
@import "styles/info-scene";
@import "styles/circus";
@import "styles/cloud";
@import "styles/rain";
@import "styles/river";
@import "styles/smoke";
@import "styles/beach-decorations";
@import "styles/sea-decorations";
@import "styles/scene-information-popup";
@import "styles/final";
@import "styles/fireworks";

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

.y-offset {
  position: relative;
  top: -40px;
}

.y-offset-2 {
  position: relative;
  top: -50px;
}

.y-offset-3 {
  position: relative;
  top: -21px;
}

.canvas-wrapper {
  position: relative;
}

canvas.absolute {
  position: absolute;
  left: 0;
  bottom: 0;
}

.hidden {
  display: none;
}

button {
  outline: none;
  border: none;

  &:focus {
    outline: none;
    border: none;
  }
}

#scene {
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;

  &.blur {
    > *:not([data-scene-information-popup]):not([data-scene-win]) {
      filter: blur(14px);
    }
  }
}

.full-screen-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 5px;
  z-index: 54;
  border-radius: 0 0 5px 0;

  i {
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('~images/expand.svg');
    cursor: pointer;
  }
}

* {
  font-family: cursive;
}
