<div class="sky-gradient sky-gradient-16"></div>

<div class="back-row-toggle splat-toggle">
    <div data-rain-front class="rain front-row"></div>
    <div data-rain-back class="rain back-row"></div>
</div>

<canvas id="water" class="y-offset"></canvas>
<canvas id="beach" class="y-offset-2"></canvas>
<div class="action-icons">
    <div class="icon-wrapper">
        <div class="icon" data-action-icon="1">
            <div class="icons-popover" data-action-popover="1"></div>
        </div>
    </div>
    <div class="icon-wrapper">
        <div class="icon" data-action-icon="2">
            <div class="icons-popover" data-action-popover="2"></div>
        </div>
    </div>
    <div class="icon-wrapper">
        <div class="icon" data-action-icon="3">
            <div class="icons-popover" data-action-popover="3"></div>
        </div>
    </div>
</div>